<div class="row mt-5 justify-content-center">
  <label class="mr-2">Cluster count: </label>
  <select class="col-md-1" [(ngModel)]="clusterCount">
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
  </select>
</div>

<!--<div class="row">-->
<!--  <div class="col-md-6">-->
<!--    <app-kmean-table [viaNearestNeighbor]="false" [clusterCount]="clusterCount" (addFQ)="addFQ($event)"></app-kmean-table>-->
<!--  </div>-->
<!--  <div class="col-md-6">-->
<!--    <app-kmean-table [viaNearestNeighbor]="true"  [clusterCount]="clusterCount" (addFQ)="addFQ($event)"></app-kmean-table>-->
<!--  </div>-->
<!--</div>-->

<!--<div class="row">-->
<!--  <div class="col-md-6">-->
<!--    <app-maxmin-table [viaNearestNeighbor]="false" [viaMatrixDistance]="true"  [clusterCount]="clusterCount" (addFQ)="addFQ($event)"></app-maxmin-table>-->
<!--  </div>-->
<!--  <div class="col-md-6">-->
<!--    <app-maxmin-table [viaNearestNeighbor]="false" [viaMatrixDistance]="false" [clusterCount]="clusterCount" (addFQ)="addFQ($event)"></app-maxmin-table>-->
<!--  </div>-->
<!--</div>-->

<!--<div class="row">-->
<!--  <div class="col-md-6">-->
<!--    <app-maxmin-table [viaNearestNeighbor]="true" [viaMatrixDistance]="true"  [clusterCount]="clusterCount" (addFQ)="addFQ($event)"></app-maxmin-table>-->
<!--  </div>-->
<!--  <div class="col-md-6">-->
<!--    <app-maxmin-table [viaNearestNeighbor]="true" [viaMatrixDistance]="false" [clusterCount]="clusterCount" (addFQ)="addFQ($event)"></app-maxmin-table>-->
<!--  </div>-->
<!--</div>-->


<app-avo-table [clusterCount]="clusterCount" (addFQ)="addFQ($event)"></app-avo-table>
<!--<app-reduce-table [clusterCount]="clusterCount" (addFQ)="addFQ($event)"></app-reduce-table>-->


<!--<h2 class="text-center">Algorithm table</h2>-->
<!--<table class="table table-hover mb-5">-->
<!--  <thead>-->
<!--  <tr>-->
<!--    <th>ID</th>-->
<!--    <th>Algorithm name</th>-->
<!--    <th>Functional quality</th>-->
<!--  </tr>-->
<!--  </thead>-->
<!--  <tbody>-->
<!--  <tr *ngFor="let algT of algTable; let i = index"-->
<!--      [ngClass]="{'table-danger': algT.fQuality === maxi,-->
<!--                    'table-info'  : algT.fQuality === mini }">-->
<!--    <td>{{i + 1}}</td>-->
<!--    <td>{{algT.name}}</td>-->
<!--    <td>{{algT.fQuality}}</td>-->
<!--  </tr>-->
<!--  </tbody>-->
<!--</table>-->
