<h2 class="text-center mt-2">
    <span> AVO </span>
</h2>
<div class="row mt-5 justify-content-center">
    <div class="col-md-3">

    </div>
</div>
<div class="ml-3">
    <label for="gamma" class="mr-2">Gamma value: </label>
    <select id="gamma" style="width: 100px;" [(ngModel)]="gammaParam" (change)="start()">
        <option *ngFor="let g of gammaParamList" [value]="g">{{g}}</option>
    </select>
    <p>Функциональное качество:  <b>{{functionalQuality}}</b></p>
    <p>Количество объектов:      <b>{{objCount}}</b></p>
    <p>Количество кластеров:     <b>{{clusters.length}}</b></p>
</div>

<table class="table table-hover mb-5 ml-2 mr-2" *ngIf="clusters">
    <thead>
    <tr>
        <th>ID</th>
        <th *ngFor="let attr of clusters[0].center.attributes; let i = index">#{{i + 1}} Param</th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let cluster of clusters; let i = index">
        <tr class="table-danger">
            <td>Центр {{i + 1}}</td>
            <td *ngFor="let attr of cluster.center.attributes">{{attr}}</td>
        </tr>
        <tr *ngFor="let obj of cluster.objects; let i = index">
            <td>#{{i + 1}}</td>
            <td *ngFor="let attr of obj.attributes">{{attr}}</td>
        </tr>
    </ng-container>
    </tbody>
</table>
<hr>
