<div class="row mt-5 justify-content-center">
    <label class="mr-2">Cluster count: </label>
    <select class="col-md-1" [(ngModel)]="clusterCount">
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
    </select>
</div>

<!--<div class="row">-->
<!--    <div class="col-md-6">-->
<!--        <app-kmean [viaNearestNeighbor]="false" [clusterCount]="clusterCount"></app-kmean>-->
<!--    </div>-->
<!--    <div class="col-md-6">-->
<!--        <app-kmean [viaNearestNeighbor]="true"  [clusterCount]="clusterCount"></app-kmean>-->
<!--    </div>-->
<!--</div>-->


<!--<div class="row">-->
<!--    <div class="col-md-6">-->
<!--        <app-maxmin [viaNearestNeighbor]="false" [viaMatrixDistance]="true"  [clusterCount]="clusterCount"></app-maxmin>-->
<!--    </div>-->
<!--    <div class="col-md-6">-->
<!--        <app-maxmin [viaNearestNeighbor]="false" [viaMatrixDistance]="false" [clusterCount]="clusterCount"></app-maxmin>-->
<!--    </div>-->
<!--</div>-->

<!--<div class="row">-->
<!--    <div class="col-md-6">-->
<!--        <app-maxmin [viaNearestNeighbor]="true" [viaMatrixDistance]="true"  [clusterCount]="clusterCount"></app-maxmin>-->
<!--    </div>-->
<!--    <div class="col-md-6">-->
<!--        <app-maxmin [viaNearestNeighbor]="true" [viaMatrixDistance]="false" [clusterCount]="clusterCount"></app-maxmin>-->
<!--    </div>-->
<!--</div>-->


<app-avo [clusterCount]="clusterCount"></app-avo>
<app-reduce [clusterCount]="clusterCount"></app-reduce>


<table class="table table-hover">
    <thead>
    <tr>
        <th>ID</th>
        <th>Algorithm name</th>
        <th>Functional quality</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>1</td>
        <td> Via nearest neighbor</td>
        <td>john@example.com</td>
    </tr>
    <tr>
        <td>2</td>
        <td>K - mean</td>
        <td>mary@example.com</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Nearest neighbor  + Max - Min</td>
        <td>july@example.com</td>
    </tr>
    <tr>
        <td>4</td>
        <td>K-mean  + Max - Min</td>
        <td>july@example.com</td>
    </tr>
    <tr>
        <td>5</td>
        <td>Nearest neighbor  + Max - Min (via matrix distance)</td>
        <td>july@example.com</td>
    </tr>
    <tr>
        <td>6</td>
        <td>K-mean  + Max - Min (via matrix distance)</td>
        <td>july@example.com</td>
    </tr>
    <tr>
        <td>7</td>
        <td>AVO</td>
        <td>july@example.com</td>
    </tr>
    <tr>
        <td>8</td>
        <td>Reduce centroid</td>
        <td>july@example.com</td>
    </tr>
    </tbody>
</table>
