$color-grey-light: #eee;
$color-grey: #aaa;
$color-grey-dark: #777;
$color-form-control: rgba(0, 0, 0, 0.07);

$color-border: #dedede;
$color-bg: #f9f9f9;
$color-primary: #6E15B5;
//$color-primary: #9a56d0;
$color-success: #1dbb99;
$color-warning: #f7cf5f;
$color-danger: #f94816;

$color-facebook: #3f71b4;
$color-facebook-dark: #3b5998;
$color-twitter: #55acee;
$color-twitter-dark: #4c91ca;
$color-google-plus: #dc4e41;
$color-google-plus-dark: #af4033;
$color-instagram: #ea4c89;
$color-instagram-dark: #be4069;
